/* ALTEZZE */
.h_50{
    height: 50px;
    border: 0.5px solid black;
}

.h_75 {
    height: 75px;
    border: 0.5px solid black;
}

.h_125 {
    height: 125px;
    border: 0.5px solid black;
}

.h_150 {
    height: 150px;
    border: 0.5px solid black;
}

.h_200 {
    height: 200px;
    border: 0.5px solid black;
}

.h_250 {
    height: 250px;
    border: 0.5px solid black;
}

.h_350 {
    height: 350px;
    border: 0.5px solid black;
}

/**/